@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Source+Sans+Pro&display=swap');
:root {
    --blue1: #10233E;
    --blue2: #273851;
    --blue3: #3f4e64;
    --blue4: #576577;
    --grey1: #87919e;;
    --grey2: #b7bdc5;
    --grey3: #cfd3d8;
    --white: #ffffff;
    --black: #000000;
}
*{
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;   
}
body {
    width: 100vw;
    margin: auto;
}
.content {
    width: 90vw;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*FOOTER*/

footer {
    background-color: var(--blue1);
    color: var(--white);
    padding: 3em 0;
}
#footer {
    display: flex;
    flex-direction: column;
}
#foot-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo {
    width: 350px;
    border-radius: .4em;
    margin: 1em;
}
#partners-container p {
    font-size: 17px;
    padding-left: .8em;
}
#partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.footer-link {
    text-decoration: none;
    border-radius: .4em;
}
.footer-link:hover {
    background-color: var(--blue2);
}
.footer-link:active {
    background-color: var(--blue3);
}
#partners img {
    width: 150px;
    height: fit-content;
    padding: .5em;
}
#contact {
    font-size: 17px;
    color: var(--grey1);
}
#contact p:nth-of-type(1) {
    padding-bottom: 1em;
}
#contact a {
    color: var(--grey1);
    padding-left: 1em;
}
#contact a:hover {
    color: var(--grey2);
}
#contact a:active {
    color: var(--grey3);
}
#disclaimer {
    text-align: center;
    padding: 3em 2em;
    color: var(--blue2);
}
@media (max-width:780px) {
    #foot-box {
        flex-direction: column;
    }
    #partners {
        justify-content: center;
    }
}
@media (max-width:400px) {
    #partners img {
        width: 100px;
    }
    .logo {
        width: 250px;
    }
}

/*NAV*/

nav {
    padding: 1em 0;
    background-color: var(--blue1);
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.toggle {
    position: absolute;
    top: 35px;
    right: 40px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30px;
    height: 21px;
}
.toggle .bar {
    height: 3px;
    width: 100%;
    background-color: var(--white);
    border-radius: 10px;
}
.nav-img-container {
    padding-left: 2em;
}
.nav-img {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    border-radius: .4em;
}
.nav-img:hover {
    background-color: var(--blue2);
}
.nav-img:active {
    background-color: var(--blue3);
}
#long {
    width: 300px;
}
#short {
    width: 140px;
    display: none;
}
.nav-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.nav-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 2em;
}
.nav-link-container {
    padding-left: 2em;
    font-size: 17px;
}
.nav-link {
    text-decoration: none;
    color: var(--white);
}
.nav-link:hover {
    text-decoration: underline;
}
.nav-link:active {
    color: var(--grey3);
}
@media (max-width:800px) {
    nav {
        flex-direction: column;
    }
    .toggle {
        display: flex;
    }
    .nav-links-container {
        display: none;
        width: 100%;
    }
    .nav-links-container.show {
        display: block;
    }
    .nav-links {
        width: 100%;
        flex-direction: column;
    }
    .nav-link-container {
        text-align: center;
        padding: .4em 0em;
    }
    .nav-link {
        padding: 15px 25px;
    }
}
@media (max-width:420px) {
    #short {
        display: block;
    }
    #long {
        display: none;
    }
    .toggle {
        top: 37px;
    }
}

/*SINGLE*/

header {
    background-color: var(--blue2);
    color: var(--white);
    text-align: center;
    padding: 1em 0;
    font-size: 3em;
    font-weight: 700;
}
header a {
    color: var(--white);
    text-decoration: none;
}
.hover-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text {
    position: relative;
    z-index: 1;
    opacity: 1;
}
.hover-text {
    opacity: 0;
    text-decoration: underline;
    position: absolute;
    z-index: 2;
}
.hover-header:hover .header-text {
    opacity: 0;
}
.hover-header:hover .hover-text {
    opacity: 1;
}
.single-main {
    padding: 2em 0;
    font-size: 17px;
}
.single-main .content {
    text-align: left;
    align-items: flex-start;
}
h1 {
    padding-bottom: 1em;
}

.single-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 2em;
    width: 100%;
}
.single-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
} 
.single-box p {
    padding-bottom: .6em;
}
.single-img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.single-img img {
    width: 450px;
    border-radius: 1.5em;
    margin: 1em;
    box-shadow: 0 0 10px var(--grey2);
}
.single-text h1 a {
    text-decoration: none;
    border-radius: .4em;
    background-color: var(--grey1);
    color: var(--white);
    padding: .3em;
}
.single-text h1 a:hover {
    background-color: var(--grey2);
}
.single-text h1 a:active {
    background-color: var(--grey3);
}
.intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.intro img {
    width: 200px;
}
@media (max-width:1000px) {
    .l {
        display: flex;
        flex-direction: column;
    }
    .r {
        display: flex;
        flex-direction: column-reverse;
    }
    .single-img img {
        width: 70vw;
    }
    .intro {
        display: flex;
        flex-direction: column;
    }
    .intro img {
        width: 160px;
    }
}

/*KONTAKT*/

.contact {
    padding: 1em 0;
}
.name {
    padding-bottom: .4em;
}
.contact a {
    text-decoration: none;
    color: var(--blue2);
}
.contact a:hover {
    text-decoration: underline;
}
.contact a:active {
    color:var(--blue3)
}

/*PROGRAM*/

.content:has(> .program-box) {
    align-items: center;
}
.program-box {
    display: grid;
    grid-template-columns: 1fr 2fr;
    width: 85vw;
    max-width: 800px;
    column-gap: 3em;
    padding: 1em;
    margin-bottom: 3em;
    text-decoration: none;
    color: var(--black);
    border-radius: 1em;
    box-shadow: 0 0 10px var(--grey3);
    transition: all .4s;
}
.program-box:hover {
    box-shadow: 0 0 14px var(--grey1);
}
.program-box:active {
    background-color: var(--grey3);
}
.program-img {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.program-img img {
    max-width: 300px;
    border-radius: .4em;
}
.program-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
}
.program-text p {
    padding-bottom: .5em;
}
@media (max-width:750px) {
    .program-box {
        display: flex;
        flex-direction: column;
    }
    .program-img {
        display: none;
    }
}

/*HOME*/

.home-header {
    color: var(--white);
    background-color: var(--blue1);
    padding-top: 2em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}
.home-header.show {
    opacity: 1;
    visibility: visible;
}
.home-header-scroll {
    width: 100vw;
    background-color: var(--blue1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.scroll-img {
    display: flex;
    align-items: center;
    padding: 2em;
}
.scroll-img a {
    text-decoration: none;
    border-radius: .4em;
}
.scroll-img a:hover {
    background-color: var(--blue2);
}
.scroll-img a:active {
    background-color: var(--blue3);
}
.scroll-img img {
    width: 70vw;
    max-width: 400px;
    padding: .4em;
}
#line1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 4em;
    color: var(--grey1);
    font-weight: 700;
    font-size: 1em;
}
#line2 {
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2em;
}
#ad {
    font-size: 5em;
    font-weight: 700;
    margin-right: 2em;
}
#bar1 > div {
    background-color: var(--white);
    width: .7em;
    height: 70vh;
    margin-right: 4em;
}
#bar2 > div {
    background-color: var(--white);
    width: 1.4em;
    height: 70vh;
    margin-right: 4em;
}
#bar3 > div {
    background-color: var(--white);
    width: 2.6em;
    height: 70vh;
    margin-right: 4em;
}
#bar4 > div {
    background-color: var(--white);
    width: 4.4em;
    height: 70vh;
}

@media (max-width:1150px) {
    #bar3 > div, #bar4 > div {
        display: none;
        width: 0em;
    }
}
@media (max-width:900px) {
    #bar1 > div, #bar2 > div {
        display: none;
        width: 0em;
    }
    #ad {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width:650px) {
    #ad {
        font-size: 2.8em;
    }
}
@media (max-width:400px) {
    #ad {
        font-size: 2.3em;
    }
}
@media (max-height:580px) {
    .home-header {
        display: none;
    }
}
.home-main {
    padding-top: 2em;
    color: var(--black);
    background-color: var(--white);
}
.home-main h1 {
    text-align: center;
    font-size: 1.6em;
    font-weight: 600;
    padding: 2em 0;
    max-width: 580px;
}
.home-main .home-links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em 0;
    font-size: 17px;
}
.home-main .home-link-container {
    max-width: 400px;
    margin-bottom: 2em;
    padding-right: 2em;
}
@media (max-width:1450px) {
    .home-main .home-links {
        flex-direction: column;
        justify-content: center;
    }
    .home-main .home-link-container {
        padding-right: 0;
        max-width: 650px;
    }
}
.home-main .home-link-container p {
    padding-top: 1em;
}
.home-main h3 {
    font-size: 2em;
    margin-bottom: 1em;
}
.home-main .home-link {
    text-decoration: none;
    border-radius: .4em;
    background-color: var(--grey1);
    color: var(--white);
    padding: .3em;
}
.home-main .home-link:hover {
    background-color: var(--grey2);
}
.home-main .home-link:active {
    background-color: var(--grey3);
}
.text-img {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.img i {
    font-size: 7em;
    color: var(--grey1);
}
#map {
    background-color: var(--blue2);
    color: var(--white);
    padding-bottom: 3em;
}
#map img {
    width: 90%;
    max-width: 800px;
}