<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
    <head>
        {{partial "exhibition-head.html" .}}
    </head>
    <body>
        <div class="home-header">
            <div class="content">
                <div id="line1">
                    <p>
                        Open-air výstava: Brněnská Ringstrasse
                    </p>
                </div>
                <div id="line2">
                    <div id="ad">
                        <p>
                            Objevte nedokončený projekt BRNĚNSKÉ RINGSTRASSE!
                        </p>
                    </div>
                    <div id="bar1">
                        <div></div>
                    </div>
                    <div id="bar2">
                        <div></div>
                    </div>
                    <div id="bar3">
                        <div></div>
                    </div>
                    <div id="bar4">
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-header-scroll">
            <div class="scroll-img">
                <a href="/o-vystave/">
                    <img src="/imgs/main3.png">
                </a>
            </div>
        </div>
        <div class="home-main">
            <div class="content">
                <ul class="home-links">
                    <li class="home-link-container">
                        <h3>
                            <a class="home-link" href="/o-vystave/">O výstavě</a>
                        </h3>
                        <div class="text-img">
                            <div class="text">
                                <p>Vítejte na open-air výstavě, pro kterou nemusíte do žádného muzea či galerie, stačí se projít po centru Brna a zastavit se u několika míst.</p>
                                <p>Tak jednoduché je poznat historii.</p>
                            </div>
                            <div class="img">
                                <i class="fa-solid fa-circle-question"></i>
                            </div>
                        </div>
                    </li>
                    <li class="home-link-container">
                        <h3>
                            <a class="home-link" href="/budovy/">Budovy</a>
                        </h3>
                        <div class="text-img">
                            <div class="text">
                                <p>Věděli jste, že budovy, okolo kterých dost možná chodíte každý den, jsou součástí nedokončeného projektu z 19. století?</p>
                                <p>Podívejte se na ně a dovězte se víc!</p>
                            </div>
                            <div class="img">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                        </div>
                    </li>
                    <li class="home-link-container">
                        <h3>
                            <a class="home-link" href="/program/">Program</a>
                        </h3>
                        <div class="text-img">
                            <div class="text">
                                <p>V rámci výstavy jsme pro vás připravili také doprovodný program, ve kterém si připomeneme nejen architektonické památky, ale také další druhy umění a jiné historické zajímavost.</p>
                                <p>Tak přijďte a zažijte kousek historie!</p>
                            </div>
                            <div class="img">
                                <i class="fa-solid fa-calendar"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="home-main" id="map">
            <div class="content">
                <h1>
                    Udělejte si krátkou procházku centrem Brna a poznejte část jeho historie.
                </h1>
                <img src="/imgs/map.png">
            </div>
        </div>
        {{partial "exhibition-footer.html" .}}
    </body>
</html>