<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
    <head>
        {{partial "exhibition-head.html" .}}
    </head>
    <body>
        {{partial "exhibition-nav.html" .}}
        <header class="single-header">
            <div class="content">
                <a href="{{.Parent.RelPermalink}}">
                    <div class="hover-header"><span class="header-text">{{.Title}}</span><span class="hover-text">{{.Parent.Title}}</span></div>
                </a>
            </div>
        </header>
        <main class="single-main">
            <div class="content">
                {{.Content}}
            </div>
        </main>
        {{partial "exhibition-footer.html" .}}
    </body>
</html>