<nav>
    <div class="nav-img-container">
        <a class="nav-img" href="/">
            <img id="long" src="/imgs/main3.png">
            <img id="short" src="/imgs/main2.png">
        </a>
    </div>
    <a href="#" class="toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <div class="nav-links-container">
        <ul class="nav-links">
            <li class="nav-link-container">
                <a class="nav-link" href="/o-vystave/">O výstavě</a>
            </li>
            <li class="nav-link-container">
                <a class="nav-link" href="/budovy/">Budovy</a>
            </li>
            <li class="nav-link-container">
                <a class="nav-link" href="/program/">Doprovodný program</a>
            </li>
            <li class="nav-link-container">
                <a class="nav-link" href="/kontakt">Kontakt</a>
            </li>
        </ul>
    </div>
</nav>