<footer>
    <div class="content">
        <div id="footer">
            <div id="foot-box">
                <a class="footer-link" href="/">
                    <img class="logo" src="/imgs/main2.png">
                </a>
                <div id="partners-container">
                    <p>Projekt vznikl za podpory:</p>
                    <div id="partners">
                        <a class="footer-link" href="/"><img src="/imgs/brno.png"></a>
                        <a class="footer-link" href="/"><img src="/imgs/brnostred.png"></a>
                        <a class="footer-link" href="/"><img src="/imgs/jmk.png"></a>
                        <a class="footer-link" href="/"><img src="/imgs/galerie.png"></a>
                        <a class="footer-link" href="/"><img src="/imgs/ndb.png"></a>
                        <a class="footer-link" href="/"><img src="/imgs/filh.png"></a>
                    </div>
                </div>
            </div>
            <div id="contact">
                <p><strong><a href="/kontakt/">Kontakt</a></strong></p>
                
            </div>
        <div id="disclaimer">
            <p>Tento projekt je fiktivní, žádná výstava ani jiný program se nekoná. Tato stránka slouží pouze jako doplněk k prezentaci do předmětu.</p>
        </div>
    </div>
</footer>